#fb-root
.talk.jumbo
  .goto-conference
    %a{:href => "/conferences/#{conference.year}/#{conference.slug}"}
      &larr; #{conference.title}
  .video
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :mozallowfullscreen => "", :src => video_iframe(talk.video_url), :webkitallowfullscreen => "", :width => "100%"}
  %header.speaker-mini
    %ul
      - talk.speakers.each do |speaker|
        %li
          .avathar.small
            %a{:href => "/speakers/#{speaker.twitter}"}
              %img{:title => speaker.name, :alt => speaker.name, :src => speaker_image_url(speaker.twitter), :onerror => 'this.src="http://confy-assets.wecode.io/speakers/generic-speaker.png"'}/
    .info
      %p.name
        - talk.speakers.each do |speaker|
          %a{:href => "/speakers/#{speaker.twitter}"} #{speaker.name}
      %h1.title
        #{talk.title}
    .social
      %a.twitter-share-button{"data-dnt" => "true", "data-hashtags" => "confy", "data-lang" => "en", "data-via" => "ConvyTalks", :href => "https://twitter.com/share"} Tweet
      .fb-like{"data-href" => "http://confy.wecode.io/talks/#{talk.conference.year}/#{talk.conference.slug}/#{talk.slug}", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "450"}

#disqus_thread
:javascript
  window.onload = function() {
    new Carousel({ carousel: '.speaker-mini', delay: 7.5 })
  }

:javascript
  var disqus_shortname = 'confy';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();

  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1418063128408803";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));