%section.conference.pure-u-1
  %aside.logo.big.pure-u-1-5
    %img{:title => conference.title, :alt => conference.title, :src => conference.image_url}/
  .conference-description.pure-u-4-5
    %header
      %h2.title #{conference.title}
      %p.conference-meta
        - conference.tags.each do |tag|
          %span.tag #{tag}
    %p
      #{conference.description}
    .data
      %span.when
        %i.icon-calendar
        #{date_range(conference.start_date, conference.end_date)}
        |
      %span.where
        %i.icon-map-marker
        %a{href: conference.place_url, title: conference.place, target: 'blank'} #{conference.place}
        |
      %span.who
        %i.icon-twitter
        %a{href: "http://twitter.com/#{conference.twitter}", title: conference.twitter, target: 'blank'}  #{conference.twitter}
        |
      %span.info
        %i.icon-external-link
        %a{href: conference.url, title: conference.title, target: 'blank'} #{url_cropper(conference.url)}

- if talks.size > 0
  %section.talks-grid
    - talks.each do |talk|
      %article.talk
        .video
          %a{:href => "/talks/#{conference.year}/#{conference.slug}/#{talk.slug}"}
            %img{title: talk.title, alt: talk.title, src: video_thumbnail(talk.video_url) }
        %aside.meta
          %header.speaker-mini
            .avathar.small
              %a{:href => "/speakers/#{talk.speaker.twitter}"}
                %img{:title => talk.speaker.name, :alt => talk.speaker.name, :src => speaker_image_url(talk.speaker.twitter), :onerror => 'this.src="http://confy-assets.wecode.io/speakers/generic-speaker.png"'}/
            .info
              %p.name 
                %a{:href => "/speakers/#{talk.speaker.twitter}"}
                  #{talk.speaker.name}
              %h1.title
                %a{:href => "/talks/#{conference.year}/#{conference.slug}/#{talk.slug}"}
                  #{talk.title}
- else
  .alert-info
    There aren't any talks for this conference (yet)
.breaker
#disqus_thread
:javascript
  var disqus_shortname = 'confy';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();

  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');