%section.conference.pure-u-1
  %aside.logo.big.pure-u-1-5
    %img{:title => conference.title, :alt => conference.title, :src => conference.image_url}/
  .conference-description.pure-u-4-5
    %header
      %h2.title #{conference.title}
      %p.conference-meta
        - conference.tags.each do |tag|
          %span.tag #{tag}
    %p
      #{conference.description}
    .data
      %span.when
        %i.icon-calendar
        #{date_range(conference.start_date, conference.end_date)}
        |
      %span.where
        %i.icon-map-marker
        %a{href: conference.place_url, title: conference.place, target: 'blank'} #{conference.place}
        |
      %span.who
        %i.icon-twitter
        %a{href: "http://twitter.com/#{conference.twitter}", title: conference.twitter, target: 'blank'}  #{conference.twitter}
        |
      %span.info
        %i.icon-external-link
        %a{href: conference.url, title: conference.title, target: 'blank'} #{url_cropper(conference.url)}

- if conference.talks.count > 0
  %section.pure-g-r
    - conference.talks.each do |talk|
      %article.talk.pure-u-1-2
        .video
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "282", :mozallowfullscreen => "", :src => video_iframe(talk.video_url), :webkitallowfullscreen => "", :width => "100%"}
        %header.speaker-mini
          .avathar.small
            %img{:title => talk.speaker.name, :alt => talk.speaker.name, :src => speaker_image_url(talk.speaker.twitter)}/
          .info
            %p.name 
              %a{:href => "/speakers/#{talk.speaker.twitter}"}
                #{talk.speaker.name}
            %h1.title
              %a{:href => "/talks/#{conference.year}/#{conference.slug}/#{talk.slug}"}
                #{talk.title}
          .social
            %a.twitter-share-button{"data-hashtags" => "confy", "data-lang" => "en", "data-text" => "#{talk.title}, by #{talk.speaker.name}", "data-url" => "http://confy.wecode.io/talks/#{conference.year}/#{conference.slug}/#{talk.slug}", "data-via" => "wecodeio", :href => "https://twitter.com/share"} Tweet
- else
  .alert-info
    There aren't any talks for this conference (yet)

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');