.conferences
  %h1.content-subhead Upcoming conferences
  - if conferences.count == 0
    .alert-info
      Looks like there's no conferences in the near future, but you can enjoy other
      #{link_to "conferences", url(:conferences, :index)} or
      %a{href: 'http://www.twitter.com/ConfyTalks'} tweet us
      your conference.
  - conferences.each do |conference|
    %section.conference.pure-u-1
      %aside.logo.big.pure-u-1-5
        %img{:title => conference.title, :alt => conference.title, :src => conference.image_url}/
      .conference-description.pure-u-4-5
        %header
          %h2.title #{conference.title}
          %p.conference-meta
            - conference.tags.each do |tag|
              %span.tag #{tag}
        %p
          #{conference.description}
        .data
          %span.when
            %i.icon-calendar
            #{date_range(conference.start_date, conference.end_date)}
            |
          %span.where
            %i.icon-map-marker
            %a{href: conference.place_url, title: conference.place, target: 'blank'} #{conference.place}
            |
          %span.who
            %i.icon-twitter
            %a{href: "http://twitter.com/#{conference.twitter}", title: conference.twitter, target: 'blank'}  #{conference.twitter}
            |
          %span.info
            %i.icon-external-link
            %a{href: conference.url, title: conference.title, target: 'blank'} #{url_cropper(conference.url)}
