.speaker-hero
  .avathar.small
    %img{:title => speaker.name, :alt => speaker.name, :src => speaker_image_url(speaker.twitter)}/
  .info
    %header
      %h2.name.title #{speaker.name}
      .twitter
        %a{:href => "//twitter.com/#{speaker.twitter}"} @#{speaker.twitter}

- if speaker.talks.count > 0
  %section.talks-grid.talks-grid-speaker
    - speaker.talks.each do |talk|
      %article.talk
        .video
          %a{:href => "/talks/#{talk.conference.year}/#{talk.conference.slug}/#{talk.slug}"}
            %img{title: talk.title, alt: talk.title, src: video_thumbnail(talk.video_url) }
        %aside
          %header.talk-header
            .info
              %h1.title
                %a{:href => "/talks/#{talk.conference.year}/#{talk.conference.slug}/#{talk.slug}"}
                  #{talk.title}
- else
  .alert-info
    There aren't any talks for this speaker (yet)

#disqus_thread
:javascript
  var disqus_shortname = 'confy';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();

  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');