.speaker-hero
  .avathar.small
    %img{:title => speaker.name, :alt => speaker.name, :src => speaker_image_url(speaker.twitter)}/
  .info
    %header
      %h2.name.title #{speaker.name}
      .twitter
        %a{:href => "//twitter.com/#{speaker.twitter}"} @#{speaker.twitter}

- if speaker.talks.count > 0
  %section.talks-grid.pure-g-r
    - speaker.talks.each do |talk|
      %article.talk.pure-u-1-2
        .talk-video
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "282", :mozallowfullscreen => "", :src => video_iframe(talk.video_url), :webkitallowfullscreen => "", :width => "100%"}
        %header.talk-header
          .info
            %h1.title
              %a{:href => "/talks/#{talk.conference.year}/#{talk.conference.slug}/#{talk.slug}"}
                #{talk.title}
          .social
            %a.twitter-share-button{"data-hashtags" => "confy", "data-lang" => "en", "data-text" => "#{talk.title}, by #{talk.speaker.name}", "data-url" => "http://confy.wecode.io/talks/#{talk.conference.year}/#{talk.conference.slug}/#{talk.slug}", "data-via" => "wecodeio", :href => "https://twitter.com/share"} Tweet
- else
  .alert-info
    There aren't any talks for this speaker (yet)

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');