!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    - if defined?(talk)
      #{meta_tag video_thumbnail(talk.video_url), :property => "og:image"}
    %title= title || "confy - the conferences' talks directory"

    #{stylesheet_link_tag "/stylesheets/pure-min.css"}
    #{stylesheet_link_tag Rack::Less.stylesheet('confy')}
    #{stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"}

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

  %body
    #layout.pure-g-r
      .sidebar.pure-u
        %header.header
          %hgroup
            %h1.brand-title
              #{link_to "confy", "/"}
            %h2.brand-tagline the conferences' talks directory
          %nav.nav
            %ul.nav-list
              %li.nav-item
                #{link_to "Conferences", url(:conferences, :index), class: 'pure-button'}
              %li.nav-item
                #{link_to "Speakers", url(:speakers, :index), class: 'pure-button'}
          .call-to-action
            your conference isn't in the list?
            %a{href: 'http://www.twitter.com/ConfyTalks'} Tweet us!
        .contact
          .socials
            %ul
              %li
                %a{href: "http://www.twitter.com/ConfyTalks", title: 'Twitter'}
                  %i.icon-twitter.icon-2x
              %li
                %a{href: "http://github.com/wecodeio/confy", title: 'Github'}
                  %i.icon-github.icon-2x
          .love
            Made with
            %i{title: 'love <3', class: 'icon-heart'}
            by
            %a{:href => '//twitter.com/wecodeio'}wecode.io
          .disclaimer
            #{link_to "disclaimer", url(:disclaimer)}
      .pure-u-1
        .content
          = yield

    %script{:src => "http://yui.yahooapis.com/3.10.1/build/yui/yui-min.js"}
    :javascript
      YUI().use('node-base', 'node-event-delegate', function (Y) {
          Y.one('body').delegate('click', function (e) {
              e.preventDefault();
          }, 'a[href="#"]');
      });

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42964560-1', 'wecode.io');
      ga('send', 'pageview');
